.carousel {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -39px;
    right: -12px;
  }
}

.carousel__image {
  position: absolute;
  top: 45%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  object-fit: cover;
  width: auto;
  transform: translate(-50%);
}

.icon-transition1,
.icon-transition2,
.icon-transition3,
.icon-transition4,
.icon-transition5 {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.icon-transition1 {
  width: 100px;
  animation: icon-transition1 0.4s linear forwards;
}

.icon-transition2 {
  width: 150px;
  animation: icon-transition2 0.4s linear 0.4s forwards;
}

.icon-transition3 {
  width: 125px;
  animation: icon-transition3 0.4s linear 0.8s forwards;
}

.icon-transition4 {
  width: 125px;
  animation: icon-transition4 0.4s linear 1.6s forwards;
}

.icon-transition5 {
  width: 100px;
  animation: icon-transition5 0.4s linear 2s forwards;
}

@keyframes icon-transition1 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-220px, 60px);
  }
}

@keyframes icon-transition2 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-196px, -93px);
  }
}

@keyframes icon-transition3 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(20px, -212px);
  }
}

@keyframes icon-transition4 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(194px, -90px);
  }
}

@keyframes icon-transition5 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(220px, 60px);
  }
}

.icon-transition1-1 {
  transform: rotate(-195deg) translate(228px, -1px) rotate(195deg);
  animation: icon-transition1-1 10s linear infinite;
}

.icon-transition2-1 {
  transform: rotate(-155deg) translate(217px, 2px) rotate(155deg);
  animation: icon-transition2-1 10s linear infinite;
}

.icon-transition3-1 {
  transform: rotate(-90deg) translate(212px, 20px) rotate(90deg);
  animation: icon-transition3-1 10s linear infinite;
}

.icon-transition4-1 {
  transform: rotate(336deg) translate(214px, -3px) rotate(-336deg);
  animation: icon-transition4-1 10s linear infinite;
}

.icon-transition5-1 {
  transform: rotate(15deg) translate(227px, 1px) rotate(-15deg);
  animation: icon-transition5-1 10s linear infinite;
}

@keyframes icon-transition1-1 {
  from {
    transform: rotate(-195deg) translate(228px, -1px) rotate(195deg);
  }

  to {
    transform: rotate(165deg) translate(228px, -1px) rotate(-165deg);
  }
}

@keyframes icon-transition2-1 {
  from {
    transform: rotate(-155deg) translate(217px, 2px) rotate(155deg);
  }

  to {
    transform: rotate(205deg) translate(217px, 2px) rotate(-205deg);
  }
}

@keyframes icon-transition3-1 {
  from {
    transform: rotate(-90deg) translate(210px, 18px) rotate(90deg);
  }

  to {
    transform: rotate(270deg) translate(210px, 18px) rotate(-270deg);
  }
}

@keyframes icon-transition4-1 {
  from {
    transform: rotate(336deg) translate(214px, -3px) rotate(-336deg);
  }

  to {
    transform: rotate(696deg) translate(214px, -3px) rotate(-696deg);
  }
}

@keyframes icon-transition5-1 {
  from {
    transform: rotate(15deg) translate(227px, 1px) rotate(-15deg);
  }

  to {
    transform: rotate(375deg) translate(227px, 1px) rotate(-375deg);
  }
}
