@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppinsregular.woff2") format("woff2"),
    url("../fonts/Poppinsregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"),
    url("../fonts/Poppinspoppins-semiboldmedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppinsbold.woff2") format("woff2"),
    url("../fonts/Poppinsbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Robotomedium.woff2") format("woff2"),
    url("../fonts/Robotomedium.woff") format("woff");
  font-display: swap;
}
