.form {
  margin-bottom: 40px;
}

.form__search {
  display: flex;
  align-items: center;
  position: relative;
}

.form__input {
  padding: 20px 77px 22px 30px;
  width: 100%;
  min-height: 62px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $text-form;
  letter-spacing: 0.01em;
  background: $white;
  box-shadow: 0 20px 30px rgba(222, 222, 222, 0.25);
  border-radius: 100px;
  border-style: none;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 21px 70px 22px 40px;
    font-size: inherit;
  }
}

.form__search-icon {
  position: absolute;
  right: 21px;
  z-index: 2;
}

.form__button {
  @include button;
  @include state;

  display: block;
  position: absolute;
  right: -14px;
  width: 57px;
  height: 57px;
  margin: 20px;
  border: none;
  border-radius: 50px;
  color: transparent;

  &::after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 27px;
    height: 27px;
    background: url("../img/icon-search.svg") no-repeat;
  }
}
