.form {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.form__input {
  padding: 20px 77px 22px 30px;
  width: 100%;
  min-height: 62px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $text-form;
  letter-spacing: 0.01em;
  background: $white;
  box-shadow: 0 20px 30px rgba(222, 222, 222, 0.25);
  border-radius: 100px;
  border-style: none;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 21px 70px 22px 40px;
    font-size: inherit;
  }
}

.form__search-icon {
  @include button;

  position: absolute;
  right: 6px;
  border-radius: 50px;
  padding: 14px;
}
