.page-main {
  flex-grow: 1;
  position: relative;
  // max-width: 554px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-main__wrapper {
  @media (min-width: $desktop-width) {
    width: 597px;
  }
}
