.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin: 0 auto;
    padding: 0 22px;
  }

  @media (min-width: $desktop-width) {
    gap: 45px;
    margin: 0 241px 0 265px;
    padding: 0;
  }
}

.site-list__link {
  display: block;
  padding: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $white;
  text-transform: uppercase;
  border-bottom: 2px solid $white;
  background-color: #a2a2a2;

  &:hover {
    background-color: $green;
  }

  &:active {
    background-color: $fragment-promo;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    color: $text-nav;
    text-transform: none;
    border-bottom: none;
    background-color: transparent;

    &::before {
      content: "";
      width: 20px;
      height: 2px;
      margin: auto;
      background-color: transparent;
    }

    &:hover {
      color: $green;
      background-color: transparent;

      &::before {
        background-color: $green;
      }
    }

    &:active {
      color: $fragment-promo;

      &::before {
        background-color: $fragment-promo;
      }
    }
  }
}
